{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <span class="publication-authors">{{ publication.authors }}</span>
    {% if publication.link %}
      <span><a href="{{ publication.link }}">{{ publication.title }}</a></span>
    {% else %}
      <span>{{ publication.title }}</span>
    {% endif %}
    {% if publication.journal %}
      <span class="publication-conference">{{ publication.journal }}</span> 
    <!-- <span class="publication-conference">{"vol."{ publication.vol }}</span> 
      <span class="publication-conference">{"no."{ publication.no }}</span> 
      <span class="publication-conference">{"pp." { publication.pages }}</span> 
      <span class="publication-conference">{{ publication.date }}</span> 
    {% endif %}
    {% if publication.conference %}
      <span class="publication-conference">{{ publication.conference }}</span> 
      <span class="publication-conference">{"vol."{ publication.vol }}</span> 
      <span class="publication-conference">{"no."{ publication.no }}</span> 
      <span class="publication-conference">{{ publication.conference }}</span> -->
    {% endif %}
    <!--<div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div> -->
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
